# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# idea
.idea/

# cmake-build
cmake-build-debug/

# fasta files
*.fasta


#ostalo
blastOutput
outLoose
outStrict
blastBigOut
blastBigOut1
blastBigOut2
blastBigOut5
fpsssOutBig
fpsssOutBig1
fpsssOutBig2
fpsssOutBigWthMurphy
fpsssOutBigWthMurphy5
fpsssOutSmall
to2.pl
to5.pl
*Out*
